@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

/* Declare css variables */
:root {
    --white: #FAF8F6;
    --black: #172339;
    --gray: #49566D;
    --indigo: #CB30E3;
    --orange: #FFA84E;
    --blue: #A060FF;
    --dark-blue: #172339;

    --font-family: 'Epilogue';
    --font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

.container {
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    padding-top: 50px;
}

.header-logo-div {
    width: 81px;
    height: 32px;
}

.header-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.business {
    padding-top: 103px;
    padding-bottom: 92px;
    margin-top: 67px;
    position: relative;
}

.business::after {
    display: block;
    content: '';
    width: 350px;
    height: 600px;
    position: absolute;
    top: 0;
    left: calc(50% + 95px);
    z-index: -10;
    transform: translateX(-50%);
    background-image: url("../icons/image-hero-portrait.png");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.business-info {
    max-width: 635px;
}

.business-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    background-color: var(--white);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 6px;
    width: 219px;
    height: 56px;
    cursor: pointer;
}

.header-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.business-title {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: var(--dark-blue);
}

.line {
    position: relative;
}

.line::before {
    display: block;
    content: "";
    width: 287px;
    height: 32px;
    background-image: url("../icons/pattern-curved-line-1.svg");
    background-size: 100% 100%;
    background-position: center top;
    position: absolute;
    top: -60px;
    left: 0;
}

.business-text {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--gray);
    max-width: 350px;
    margin: 40px 0 52px;
}

.business-button {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: var(--white);
    background: var(--dark-blue);
    border-radius: 6px;
    padding: 15px 31px 14px 32px;
    border: none;
    cursor: pointer;
}

.business-button:hover {
    background: linear-gradient(135deg, var(--blue) 0%, var(--indigo) 49.21%, var(--orange) 100%);
}

.right-title {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: var(--dark-blue);
}

.right-text {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: var(--gray);
    margin-top: 1px;
}

